<% likes.forEach(function(playlist){ %>
<p><a href="/playlists/<%=playlist.playlistId%> "><%= playlist.name %> Like</a></p>
<% }) %> 
<% comments.forEach(function(playlist){ %>
<p><a href="/playlists/<%=playlist.playlistId%> "><%= playlist.name %> Comment</a></p>
<% }) %> 