<%- include('partials/header.ejs',{user}) %>

    <div style="text-align:center;">
        <h2>!!ERROR!!</h2><br>
        <img alt="homer simpson"
            src="https://parkershirazi.com/wp-content/uploads/2017/10/3a116884945f870924f1ffd3f36fc015-408x470.png">

        <br>
        <h3>
            CANNOT RENDER REQUESTED PAGE
        </h3>

    </div>


    <%- include('partials/footer.ejs') %>