
<h2>You will see the list of songs inside of your <%=playlist.name%> playlist</h2>
<%songs.forEach(function(song){  %> 
    <form method=""></form>
<p><a href="/users/songs/<%=song.track%>"><%= song.name %></a></p>
<%})%>