<form action="/search/songs">
    <label for ='search'></label>
    <input id = 'search' name="search" autocomplete="off" placeholder="search songs" required/>
    <button type="submit">Search</button>
</form>
<form action="/search/artists">
    <label for ='search2'></label>
    <input id = 'search2' name="search2" autocomplete="off" placeholder="search artists" required/>
    <button type="submit">Search</button>
</form>
<form action="/search/playlists">
    <label for ='searchplaylists'></label>
    <input id = 'searchplaylists' autocomplete="off" name="searchplaylists" placeholder="search other user playlists" required/>
    <button type="submit">Search</button>
</form>
