<%- include('../partials/header.ejs',{user}) %> 
<h3>Log in to your account</h3>
<% if(message){ %> 
    <p><%= message%></p>
    <% } %> 
<form action="/users/login" method="POST">
<label for="email" >Email: </label>
<input type="email" name="email" id="email" required/>

<label for="password">Password: </label>
<input type="password" name="password" id="password" required/>

<button type="submit">Sign up</button>
</form>
<%- include('../partials/footer.ejs') %> 